@font-face {
    font-family: "pong";
    src: url("../font/remedial-pong/remedial-pong.ttf") format("truetype");
}

body {
    font-family: pong;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
}

.pong {
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 11%;
    position: absolute;
    font-size: 64px;
    left: 40%;
    right: 40%;
    top: 0;
    align-items: center;
}